@import '../layout/variables';

.footer-wp {
  height: 56px;
  background-color: $greay_100;
  position: fixed;
  width: -webkit-fill-available;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 4px;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    height: 2px;
    background-color: $greay_200;
    width: 100%;
  }

  &__navegation {
    display: flex;
    justify-content: space-around;
    margin: 4px 0 0 0;

    &--item {
      display: flex;
      flex-direction: column;
      padding: 2px 8px;
      width: 50px;
      align-items: center;
      margin: 6px 0px 0 0;

      &-plas {
        padding: 0 4px 4px 4px;
      }

      &--description {
        margin: 8px 0;
        font-size: 12px;
      }
    }
  }
}

