$greay_100: #F9F9F9;
$greay_101: #F7F7F7;
$greay_200: #D0D0D0;
$greay_300: #707070; 
$greay_400: #3E3E3E;
$greay_500: #32434B;

$black_100: #000000;

$white_100: #ffffff;

$orange_100: #F58122;

$green_100: #1BB286;

$blue_100: #22B4F5;
