$greay_100: #F9F9F9;
$greay_200: #DADADA;
$greay_300: #BEC1C5; 
$greay_400: #777777;
$greay_500: #585F69;
$greay_600: #505050;
$greay_700: #2D333A;

$black_100: #000000;

$red_100: #E20010;

$blue_100: #3B93C9;

$yellow_100: #FBC72E; 