@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap');
@import './variables';

html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;

    .layout__wrapp {
        background-color: $greay_100;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0px;

        .icon__x24 {
            width: 24px;
            height: 24px;
        }

        .icon__x32 {
            width: 32px;
            height: 32px;
        }

    }

    

}
