@import '../../components/layout/variables';

.home {   
  margin: 8px;

  &--title {
    color: $greay_500;
    font-size: 30px;
    font-weight: bold;
    padding-top: 14px;
    margin: 24px 0 43px 0;
  }
}